.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  
}
.cards button{
 width: 7rem;
 border: none;
 background-color: rgb(18, 5, 133);
}
.cards button:hover{
  background-color: rgb(7, 201, 7);
}